@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Signika+Negative:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');

.forgotten-password-button{
    width: 613px;
    height: 47px;
    border-radius: 15px;
    padding: 10px, 236px, 10px, 235px;
    background-color: #DB9200;
    /* top: 866px; */
    /* left: 100px; */
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 27px;
    font-size: 19px;
}

.forgotten-header{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 53.32px;
}

.password-main-body{
    height: 647px;
    /* width: 813px; */
}

.password-main{
    width: 813px;
    margin: auto;
}

.password-body{
    width: 613px;
    margin: auto;
}


.forgotten-text{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
}

.input-label{
    font-size: 18px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    line-height: 24px;
}