@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Signika+Negative:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display&family=Playfair+Display+SC:ital,wght@1,700&family=Signika+Negative:wght@500&display=swap');

.forgotten-password-button{
    width: 613px;
    height: 47px;
    border-radius: 15px;
    padding: 10px, 236px, 10px, 235px;
    background-color: #DB9200;
    /* top: 866px; */
    /* left: 100px; */
}

.forgotten-header{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 53.32px;
}