@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

.mapped-data-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.mapped-images {
  /* width: 349px; */
  /* height: 357px; */
}

.combo-body {
  /* height: 758px; */
}

.home-favourite {
  /* position: relative; */
}

.relative {
  position: relative;
}

.heart-icon {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

/* .heart-circle{
    position: absolute;
    top: 0;
    right: 0;
} */

.buy-btn{
  background: var(--primary, #DB9200);
  padding: 12px 61px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  font-family: 'Inter', sans-serif;
}
